root* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --background-color: rgb(61, 94, 185);
    --hover-color: rgb(43, 176, 224);
}

/* #view{
    border:none;
    color: purple;
    background-color: none;
} */

.top-bar time{
    float: right;
}

.card {

    width: 60%;
    margin: 5%;
    margin-left: 20%;
    align-items: center;
}

.card-header {
    text-align: center;
    padding: 5%;
    display: flex;
    justify-content:center
}

#font {
    font-size: 25px;
}

.card-body {

    width: 80%; 
    margin: auto;
    text-indent: 2cm;
    text-align: center;
    font-size: 25px;
    display: block;
    margin-bottom: 40px;
}

.card-body p {
    display: flex;
    justify-content: wrap;
}
 
.card-questions {
    width: 60%;
    margin: 5%;
    justify-content:center;
    margin-left: 20%;
    align-items: center;
    
}

.card-body button {
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: 20px;
    margin-top: 5%;
    border-radius: 10px;
    width: 30%
}
.card-body button:hover {
    background-color:var(--hover-color)
}
k
.options {
    margin-bottom: 10%;
   
}

.option-button {
    display:flex;
    flex-direction: row;
    line-height: 2em;
    width: 25%;
    margin-left: 25%;
    margin-bottom: 2%;
    background-color: var(--background-color);
    color: azure;
    font-size: 15px;
    border-radius: 10px;
}

.option-button:hover {
        background-color: var(--hover-color)
}

#question-section {
    display: none;
}

.quiz-ends{
    text-align: center;
}

.quiz-ends{
    width: 40%;
    margin: 5%;
    margin-left: 30%;
    align-items: center;
    padding: 5%;
    display: none
}

h2 {
    display:flex;
    justify-content:left ;
    font-size: 30px;
    margin-bottom: 2%;
}
#score {
    font-size: 20px;
    display:flex;
    justify-content: left;
    margin-bottom: 2%;
}

#command {
    font-size: 20px;
    display: flex;

}

#intials {
    width: 15%;
    margin-left: 2%;
}

.middle {
    display:flex;
    width: 15cm
}

#submit {
    margin-left: 20px;
    width: 15%;
    background-color: var(--background-color);
}

@media screen and (min-width: 442px ) {
   #intials {
        width: 10%;
    }
     #submit {
        width: 10%
    }
}

#submit:hover {
    background-color: var(--hover-color)
}

.High-scores {
    width: 40%;
    margin: 5%;
    margin-top: 10%;
    margin-left: 39%;
    align-items: center;
    display:none;
}

#title {
    padding-bottom:20px;
}

.buttons {
    padding-top: 20px
}

#list {
    margin-left: 10%;
    align-items: center;
    list-style: circle;
    list-style:none;
}

#sum-of-scores {
    margin-left: 10%;
}
